*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1282px;
    margin: 0 auto;
}

.header-link {
    height: 79px;
    width: 334px;
    line-height: 1.25;
    font-weight: 400;
    font-size: 80px;
    text-decoration: none;
    margin-top: 63px;
}

.header-link-black-text-Ra {
    color: #000000;
}

.header-link-blue-text-mda.js {
    color: #4BCAFF;
}

.header-menu-text {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    padding: 24px 150px 18px 150px;
    list-style: none;
    margin-top: 40px;
}

.header-menu-text-1 {
    padding: 24px 32px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}

.header-menu-text-1:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.header-menu-text-2 {
    padding: 24px 38px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}

.header-menu-text-2:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.header-menu-text-3 {
    padding: 24px 40px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}

.header-menu-text-3:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.header-menu-text-4 {
    padding: 24px 32px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.header-menu-text-4:hover {
    background-color: #222F3A;
    transition: 0.5s;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-aside-link {
    width: 345px;
    margin-top: 49px;
    border: 1px solid #000000;
}

.main-aside-link-left {
    list-style-type: none;
    color: #485863;
    line-height: 52px;
    font-size: 27px;
}

.main-aside-link-1 {
    text-decoration: none;
    color: #495863;
    padding: 26px 194px 52px 44px;
}

.main-aside-link-2 {
    text-decoration: none;
    color: #495863;
    padding: 52px 78px 52px 44px;
}

.main-aside-link-3 {
    text-decoration: none;
    color: #495863;
    padding: 52px 82px 52px 44px;
}

.main-aside-link-4 {
    text-decoration: none;
    color: #495863;
    padding: 52px 121px 52px 44px;
}

.main-aside-link-5 {
    text-decoration: none;
    color: #495863;
    padding: 52px 121px 26px 44px;
}

.main-content-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 75px 268px 73px 297px;
    border: 1px solid #000000;
    max-width: 885px;
    margin-top: 49px;
    margin-left: 52px;
}

.main-content-images:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.main-content-paragraph{
    padding-top: 37px;
    font-size: 18px;
    width: 885px;
    color: #2C2C2C;
    text-align: start;
    line-height: 24px;
    margin-left: auto;
}

.main-content-paragraph-first {
    margin-bottom: 34px;
}

.main-content-paragraph-second {
    margin-bottom: 54px;
}

.footer-container {
    background-color: #63696E7A;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #63696E7A;
    padding: 20px 40px;
}

.footer-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 28px;
    line-height: 28px;
}

.footer-menu-link-1 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}

.footer-menu-link-1:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-link-2 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}

.footer-menu-link-2:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-link-3 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}

.footer-menu-link-3:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-link-4 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}

.footer-menu-link-4:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-link-5 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 135px;
}

.footer-menu-link-5:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-text{
    color: #010101;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}















